/* BODY */
/* styles.css */
/* BODY */
body {
  background-color: #fff; /* Ganti background body menjadi warna solid */
  margin: 0; /* Remove default margin */
}

/* END BODY */

/* Navbar styles */
.nav-divider {
  background-image: url("../images/background/bg_sirih.png"); /* Apply the image to the navbar */
  background-size: cover; /* Make sure the image covers the entire area */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Keep the background fixed when scrolling */
  height: 100px; /* Set a height for the navbar */
  position: relative; /* Ensure positioning context for absolute children */
  z-index: 1; /* Ensure navbar is above other content */
}

/* Hero Container styles */
.hero-container {
  position: relative; /* Position relative for absolute children */
  overflow: hidden; /* Prevent overflow of child elements */
}

.hero-main {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  min-height: 948px;
  width: 100%;
  padding: 11px 0 220px;
  z-index: 0; /* Ensure this is below the navbar */
}

.image-bg {
  position: absolute;
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Cover the area without distortion */
  z-index: -1; /* Send the image behind other content */
}

/* END CONTAINER */