/* TEMPLATE STYLES */
html,
body,
.view {
    height: 50vh;
    width: 100%;
}

/* Navigation */
.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/* Background Image */
.f-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Carousel */
.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.flex-center {
    color: #fff;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}